.HomePage__layoutContainer {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.HomePage__layout {
  margin-left: 50px;
  margin-top: 40px;
}

.CardsHome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.MiddleCards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
