.main {
  margin-top: 10px;
  margin-left: 50px;
}

.FeedTitle {
  font-family: "Ubuntu";
  font-size: 23px;
}

/* Cards */

.cardsHome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

/* Profile Card Styles */

.ProfileCard {
  background-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
  max-width: 340px;
  height: 450px;
  border-radius: 5px;
  padding: 10px;
}

.userInfo {
  display: flex;
  gap: 20px;
}

.userInfo__Image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.userInfo__Image_img {
  border-radius: 50%;
}

.userInfo__Info > h3 {
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 300;
}

.userInfo__Info > h4 {
  margin: 0;
  font-weight: 200;
}

.Suggestions {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.Suggestions__text {
  font-size: 14px;
  margin-top: 10px;
}

.Suggested__Topics_topics {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.Suggested__Topics_topics > h4 {
  background-color: #d3d3d3;
  padding: 6px;
  border-radius: 999px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  font-size: 14px;
}

.Suggested__Topics_topics > h4:hover {
  transform: scale(1.1);
}

.Statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Middle Cards */
.MiddleCards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.breakingNewsCard {
  background-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
  max-width: 400px;
  height: 190px;
  padding: 10px 20px;
  border-radius: 3px;
}

.socialMediaCard {
  background-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
  max-width: 400px;
  padding: 10px 20px;
  height: 190px;
  border-radius: 3px;
}

/* Top Story card styles */
.TopStoryCard {
  background-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
  max-width: 350px;
  height: 460px;
  margin-right: 20px;
  border-radius: 3px;
}
