.container {
  margin-left: 50px;
  margin-top: 0;
}

.MapPageTitle {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif, Georgia;
  margin-left: 50px;
}

.MapContainer {
  background-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
  border-radius: 4px;
  max-width: 97%;
  height: 500px;
  padding: 10px;
}

/* Map Sizes On Certain Screens */

@media only screen and (height: 900px) {
  .MapContainer {
    max-width: 97%;
    height: 600px;
  }
}

@media only screen and (height: 1100px) {
  .MapContainer {
    max-width: 97%;
    height: 900px;
  }
}
